extends ./public/admin
block content
    .admin
        .title
            | 添加兴趣
            label
                input
                button 添加
        .interest.title
            | 查找兴趣
            label
                input
            .body-content
                span 汽车 -
                span 通讯 -
                span 前端 -
                span 旅游 -
                span 互联网 -
