extends ./public/admin
block content
    .admin
        .nav
            | 添加管理员
            button 添加
        table
            thead
                th #
                th 姓名
                th 性别
                th 年龄
                th 联系方式
                th 权限
                th 操作
            tbody
                tr
                    td 001
                    td 夯大力
                    td 男
                    td 28
                    td 13411112222
                    td 3
                    td
                        button 查看
                        button 更改权限
                        button 删除
                        