extends ./public/admin
block content
    .admin
        table
            thead
                th #
                th 标题
                th 提问者
                th 提问时间
                th 问题状态
                th 回答数量
                th 操作
            tbody
                tr
                    td 001
                    td 论“阿尔法狗”的智能学习算法
                    td 孙小美
                    td 2016-03-01
                    td 未解决
                    td 20条
                    td
                        button 查看
                        button 删除