<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="../public/css/style.css")
    script(src="../public/js/main.js")
    title Demo
body
    .contain
        .account
            a username
            a(href="./font_ask.html") 用户中心
        .main
            h1 问&答搜索
            label
                input(type="text" placeholder="输入您要搜索的问题")
                button 搜索