extends ./public/font
block content
    table
        thead
            th # 
            th 标题
            th 提问人
            th
        tbody
            tr
                td 1
                td 抽烟的危害
                td 隔壁老王
                td
                    button 我要回答
            tr
                td 2
                td 不吃早点的危害
                td 隔壁老张
                td
                    button 我要回答
            tr
                td 3
                td 如何早起
                td 隔壁老李
                td
                    button 我要回答
            tr
                td 4
                td 热锅凉油什么原理
                td 隔壁老刘
                td
                    button 我要回答
            tr
                td 5
                td 什么牌子的电脑好
                td 隔壁老苏
                td
                    button 我要回答
            tr
                td 6
                td 什么牌子的电视好
                td 隔壁老周
                td
                    button 我要回答
            tr
                td 7
                td 谁有《js高三》转让
                td 隔壁老吴
                td
                    button 我要回答
            tr
                td 8
                td IKEA地位如何
                td 隔壁老正
                td
                    button 我要回答
            tr
                td 9
                td 特斯拉在中国的情况
                td 隔壁老赵
                td
                    button 我要回答
            tr
                td 10
                td 如何正确使用shell
                td 隔壁老钱
                td
                    button 我要回答      