extends ./public/font
block content
    .interest
        .title 为您推荐也许您感兴趣的话题
        ul
            li
                a 如何看待央行此次加息
            li
                a moto被联想收购后的发展
            li
                a linux为何不能作为娱乐站
            li
                a go语言何去何从
            li
                a node为何不是银弹
            li
                a 鸟叔的私房菜
            li
                a javascript函数式编程
            li
                a nagix
            li
                a gulp
            li
                a grunt