extends ./public/font
block content
    .interest
        .left
            .title 我们看到您喜欢以下关键词：
            .main-left
                span 论气候与旅游业发展
                span 论美食与旅游业发展
                span 计算机网络技术与网络安全
                span react与webpack使用
        .right
            .title 我们为您推荐以下词条：
            .main-right
                span 气候 +
                span 旅游业 +
                span 前端 +
                span react +
                span webpack +
                span 美食 +
        .public-floatEli