<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="../public/css/style.css")
    script(src="../public/js/main.js")
    title Demo
body
    nav
        span.nav-logo 在线答疑系统
        span.nav-user 当前用户： 黄晓明
        span.nav-info 用户中心
    .c
        .left
            .title 我的工作台
            .body#nav
                a(href="./font_aq.html").index 首页
                .index(onclick="show_li(this)") 提问管理
                    .li
                        a.nav-judg(href="./font_ask.html") 提交问题
                            span -
                        a.nav-judg(href="./font_ask_status.html") 问题状态
                            span -
                .index(onclick="show_li(this)") 用户兴趣
                    .li
                        a.nav-judg(href="./font_interest.html") 用户兴趣
                            span -
                .index(onclick="show_li(this)") 用户个性化
                    .li
                        a.nav-judg(href="./font_question.html") 尚未解决
                            span -
                        a.nav-judg(href="./font_topic.html") 兴趣话题
                            span -
        .right
            .title 内容区域
            .body
                block content